SECRET_KEY = #django secret key

DEBUG = #debug true/false

NAME = #name database
USER = #name admin database
PASSWORD = #password admin
HOST = #host database
PORT = #port database

TG_TOKEN = #telegram bot token